{% extends "a4_candy_account/account_dashboard.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Email Addresses' %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
<h1 class="mt-0">{% trans 'Email Addresses' %}</h1>

{% for emailaddress in user.emailaddress_set.all %}
<form class="multiform" action="{% url 'account_email' %}?next={{ request.path|urlencode }}" method="post">
    {% csrf_token %}

    <div class="form-check">
        <label class="form-check__label">
            <input type="hidden" name="email"
                   value="{{emailaddress.email}}" >
            {{ emailaddress.email }}
            {% if emailaddress.primary %}
            <span class="label">{% trans "Primary" %}</span>
            {% endif %}
            {% if emailaddress.verified %}
            <span class="label">{% trans "Verified" %}</span>
            {% else %}
            <span class="label">{% trans "Unverified" %}</span>
            {% endif %}
        </label>
    </div>
    <div class="mb-3">
        <button class="btn btn--primary {% if emailaddress.primary or not emailaddress.verified %}disabled{% endif %}" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
        <button class="btn btn--secondary {% if emailaddress.verified %}disabled{% endif %}" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
        <button class="btn btn--secondary {% if emailaddress.primary %}disabled{% endif %}" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
    </div>
</form>
{% endfor %}

<form class="multiform" method="post" action="{% url 'account_email' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="form-errors">
        {% for error in form.non_field_errors %}
        <p class="alert alert--danger">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="form-group">
        <label class="control-label" for="{{ form.email.id_for_label }}">{% trans "Add another Email" %}</label>
        {{ form.email.errors }}
        {{ form.email|add_class:"form-control" }}
    </div>
    <div class="d-flex justify-content-end mb-3">
        <input class="btn btn--primary" name="action_add" type="submit" value="{% trans 'Add Email' %}"/>
    </div>
</form>
{% endblock %}
