# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache
coverage/

# Translations
*.mo
*.pot

# Environments
venv/
/pyvenv.cfg
/pip-selfcheck.json

# Node
node_modules/
package-lock.json
npm-debug.log*
/webpack-stats.json

# IDEs
.idea/

# Django databases
*.sqlite3
db.sqlite3*

# Local instance specific settings
adhocracy-plus/config/settings/local.py

# Generated static files
adhocracy-plus/static/
static/

# Media
media/

# setuptools
/build
/dist
/*.egg-info
/share

# OS
.DS_Store

# sass
.sass-cache

# test data
*.key
*.pem

# local test-database
/aplus-test-database

# ai models
ai/
ai/stance_detection.py

# static files
adhocracy-plus/static/*
adhocracy-plus/static/adhocracy4.js
adhocracy-plus/static/a4maps_choose_point.css
adhocracy-plus/static/a4maps_choose_point.js
adhocracy-plus/static/a4maps_choose_polygon.css
adhocracy-plus/static/a4maps_choose_polygon.js
adhocracy-plus/static/a4maps_display_point.css
adhocracy-plus/static/a4maps_display_point.js
adhocracy-plus/static/a4maps_display_points.css
adhocracy-plus/static/a4maps_display_points.js
adhocracy-plus/static/adhocracy4.css
adhocracy-plus/static/captcheck.js
adhocracy-plus/static/category_formset.js
adhocracy-plus/static/datepicker.css
adhocracy-plus/static/datepicker.js
adhocracy-plus/static/documents.js
adhocracy-plus/static/dsgvo_video_embed.css
adhocracy-plus/static/dsgvo_video_embed.js
adhocracy-plus/static/image_uploader.js
adhocracy-plus/static/init_dashboard_accordion.js
adhocracy-plus/static/interactiveevents.js
adhocracy-plus/static/interactiveevents_presents.js
adhocracy-plus/static/moderation_notification_list.js
adhocracy-plus/static/moderation_projects.js
adhocracy-plus/static/poll_management.js
adhocracy-plus/static/polls.js
adhocracy-plus/static/select_dropdown_init.js
adhocracy-plus/static/unload_warning.js
