<!DOCTYPE html>
<html>
<head>
    <title>Duplicate Comments</title>
</head>
<body>
    <h1>Duplicate Comments Report</h1>

    {% if no_duplicates %}
        <p>No duplicate comments found for today.</p>
    {% else %}
        <ul>
            {% for duplicate in duplicates %}
                <li>
                    <strong>User: {{ duplicate.user }} - "{{ duplicate.text }}" appears {{ duplicate.count }} times today:</strong>
                    <ul>
                        {% for instance in duplicate.instances %}
                            <li>
                                ID: {{ instance.id }}, Created: {{ instance.created }}, CT: {{ instance.content_type }}, PK: {{ instance.object_pk }}, Blocked: {{instance.is_blocked}}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>