{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% trans 'Add a new ai quality subject' %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_project_content %}
<div class="container">
    <h1 class="mt-0">{% trans 'Add a new ai quality subject'%}</h1>

    {% url 'a4dashboard:aiqualitysubject-list' organisation_slug=project.organisation.slug module_slug=module.slug as cancel %}
    {% include "a4_candy_debate_quality/includes/aiqualitysubject_form.html" with cancel=cancel %}
</div>
{% endblock %}
