{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% trans "AI Quality Subject" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_project_content %}
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="mt-0 lr-bar__left">
            {% trans 'Quality Subject' %}
        </h1>
        <div class="lr-bar__right">
            <a href="{% url 'a4dashboard:aiqualitysubject-create' organisation_slug=project.organisation.slug module_slug=module.slug %}" class="btn">
                {% trans 'Add Quality Subject' %}
            </a>
        </div>
    </div>
    {% include "a4_candy_contrib/includes/filter_and_sort.html" with filter=view.filter %}

    <ul class="u-list-reset">
        {% for object in object_list %}
            {% include "a4_candy_debate_quality/includes/aiqualitysubject_dashboard_list_item.html" with object=object %}
        {% empty %}
            {% translate "Nothing to show" %}
        {% endfor %}
        </ul>

    {% include "a4_candy_contrib/includes/pagination.html" %}
{% endblock %}
