{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% blocktrans with title=object.name %}Edit {{ title }}{% endblocktrans %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_project_content %}
<div class="container">
    <h1 class="u-first-heading">{% trans 'Edit AI Quality subject' %}</h1>

    {% url 'a4dashboard:aiqualitysubject-list' organisation_slug=project.organisation.slug module_slug=module.slug as cancel %}
    {% include "a4_candy_debate_quality/includes/aiqualitysubject_form.html" with cancel=cancel %}
</div>
{% endblock %}
